.splash-page-video {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 80px;
  object-fit: cover;
}

.splash-page-overlay {
  width: 100%;
  height: 40vh;
  background: rgba(0, 0, 0, 0.85);
  position: absolute;
  top: 30vh;
  left: 0;
  z-index: 800;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.splash-page-wrapper h1 {
  font-family: monospace;
  font-size: 50px;
  color: #376DA1;
}

.splash-page_buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.splash-page_buttons > button {
  height: fit-content;
  background-color: #171415;
  padding: 10px;
  color: #5DACBD;
  border: 3px solid #376DA1;
  border-radius: 20px;
  width: 300px;
}

.splash-page_buttons > button:hover {
  opacity: 0.8;
}

.splash-page_buttons > a {
  margin-top: 5px;
  color: #6A696A
}

.splash-page_buttons > a:hover {
  color: #8f8f8f
}
