/* Color Palette:
Smoky Black: #161315
Raisin Black: #2C2629
Cosmic Latte: #FFF4E4
Carolina Blue: #449DD1 
Dark Pastel Green: #35C04A
*/

.event-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event-header,
.event-sim-events {
    padding: 0px 30px
}

.event-body {
    display: flex;
    padding: 0px 30px;
}

.event-header,
.event-footer {
    background-color: #2C2629;
    padding: 0px 30px;
    width: 100%;

}

.event-body_feed {
    width: 600px;

}


#event-body_sidebar_group,
#event-body_sidebar_details {
    display: flex;
    margin: 15px 0px;
    padding: 15px;
    background-color: #2C2629;
    border-radius: 4px;
}

#event-body_sidebar_details {
    flex-direction: column;
}

.event-body_sidebar {
    flex-direction: column;
    max-width: 350px;
}