/* Color Palette:
Smoky Black: #161315
Raisin Black: #211C1F
Cosmic Latte: #FFF4E4
Carolina Blue: #449DD1
Dark Pastel Green: #35C04A
*/

* {
    box-sizing: border-box;
    text-decoration: none;
}

html,body {
    font-family: "Montserrat";
    margin: 0;
    padding: 0;
    background-color: #161315;
    color: #5DACBD;
}

.authButton {
    padding: 10px;
    color: #5DACBD;
    border: 2px solid #5DACBD;
    background-color: transparent;
    border-radius: 20px;
}

.authButton:hover {
    opacity: 0.8;
}
