.home-page_body {
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* width: 980px; */
}

.home-page_body a {
    text-decoration: none;
    color: rgb(93, 172, 189);
}

/* .group-suggested-gallery {
    
} */
#your-groups-header, 
#suggested-groups-header {
    margin-left: 20vw;
    padding-left: 25px;
}

#group-break-bar {
    width: 60vw;
}

.group-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    width: 980px;
    padding-bottom: 20px;
    margin: auto;
    text-decoration: none;
}

.your-groups .group-card {
    margin-bottom: 20px;
    border: solid;
    border-width: 2px;
    border-color: #2C2629;
    border-radius: 25px;
    background-color: #2C2629;
    max-width: 240px;
    height: 280px
}

.suggested-groups .group-card {
    margin-bottom: 20px;
    border: solid;
    border-width: 2px;
    border-color: #2C2629;
    border-radius: 25px;
    background-color: #2C2629;
    max-width: 313px;
    height: 300px;
}

.your-groups .group-card:hover,
.suggested-groups .group-card:hover {
    box-shadow: rgba(93, 172, 189, .30) 2px 4px 16px;
}

.suggested-groups .group-card #group-card_join-button {
    margin-top: 10px;
}

.suggested-groups .group-card .group-card_name {
    margin-top: 10px;
    height: 40px;
}

.your-groups .group-card_photo > img {
    width: 236px;
    height: 180px;
    border-radius: 25px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.suggested-groups .group-card_photo > img {
    width: 309px;
    height: 180px;
    border-radius: 25px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}



