.group-form {
  background-color: #211C1F;
  padding: 80px;
  color: #5DACBD;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #5DACBD;
  margin: auto;
  width: 40vw;
  max-width: 500px;
  border-radius: 40px;
}

.group-form input,
.group-form textarea {
  padding: 10px;
  margin: 20px 0;
  border: 1px solid #5DACBD;
  border-radius: 10px;
  background-color: #2C2629;
  color: white;
  outline: none;
  width: 30vw;
  max-width: 400px;
  margin-top: 2px;
}

.group-form-submit-button {
  padding: 10px;
  color: #2C2629;
  background-color: #5DACBD;
  border: 2px solid #5DACBD;
  border-radius: 999px;
  font-size: 16px;
}

.group-form-submit-button:hover {
  opacity: 0.8;
}

.group-form-label {
  align-self: flex-start;
  margin-left: 30px;
}

.group-form_errors {
  color: #F7405F;
}
