.menu-container {
  position: relative;
}

.menu_icon {
  display: flex;
  align-items: center;
  font-size: 20px;
  padding-left: 50px;
  padding-right: 20px;
  color: #5DACBD;
}

.menu_icon:hover {
  opacity: 0.8;
}

.profile {
  font-size: 30px;
}

.menu {
  background-color: #211C1F;
  border-radius: 8px;
  position: absolute;
  top: 50px;
  right: 0;
  width: 200px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
}

.menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  border-bottom: 2px solid #161315;
}

.menu li a {
  text-decoration: none;
  color: #5DACBD;
  padding: 15px 20px;
  display: block;
}

.menu li button {
  text-decoration: none;
  color: #F7405F;
  padding: 15px 20px;
  border: none;
  background: none;
  font-size: 19px;
  outline: none;
}
