.navbarWrapper {
    background-color: #161315;
    display: flex;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: 161315;
    z-index: 4;
    width: 100%;
    padding-bottom: 1px;
}

.header_logo {
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin-top: -6px;
}

.header_logo:hover {
    opacity: 0.8;
}

.header_left {
    display: flex;
    align-items: center;
}

.header_right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
}

.home {
    padding-left: 10px;
}

.searchBar {
    display: flex;
    flex: 1;
    align-items: center;
    padding: 20px;
    height: 10px;
    border: 1px solid #5DACBD;
    border-radius: 10px;
}

.create_group > a {
    padding: 10px;
    color: #5DACBD;
    border: 2px solid #5DACBD;
    border-radius: 20px;
}

.create_group > a:hover {
    opacity: 0.8;
}
