.navbarWrapper {
    display: flex;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    position: top;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 4;
    width: 100%;
    padding-bottom: 1px;
}

.header_left {
    display: flex;
    align-items: center;
}

.header_right {
    display: flex;
    justify-content: space-between;
}

.home {
    padding-left: 10px;
}

.searchBar {
    padding-left: 10px;
    display: flex;
    align-self: center;
    color: black
}
